/**
 * Scrollbar hacks
 */

// sass-lint:disable-block no-vendor-prefixes
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color--gainsboro;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 50px;
  background: $color--jet;
}

::-webkit-scrollbar-thumb:hover { // sass-lint:disable-line force-pseudo-nesting
  background: $color--oil;
}
// sass-lint:enable-block no-vendor-prefixes
