/**
 * Utilities
 */

.clearfix {
  @include clearfix;
}

.center--block {
  @include center--block;
}

/* Floats */
.pull--right {
  @include pull--right;
}

.pull--left {
  @include pull--left;
}

/* Responsive images */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Screenreaders */
.sr-only {
  @include sr-only;
}

/* Always hide an element with the `hidden` HTML attribute (from PureCSS). */
[hidden] {
  display: none !important; // sass-lint:disable-line no-important
}

.invisible {
  visibility: hidden;
}

.text--hide {
  @include text--hide;
}

.text--truncate {
  @include text--truncate;
}

/* Miscellaneous */
.no-js {
  .lazy {
    display: none;
  }
}
