/**
 * Base
 */

// sass-lint:disable-block no-vendor-prefixes
@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
// sass-lint:enable-block no-vendor-prefixes

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;// sass-lint:disable-line no-vendor-prefixes
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-family--primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: palette-grabber($palette-material, grey, 900);
  -webkit-font-smoothing: antialiased;// sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;// sass-lint:disable-line no-vendor-prefixes
}
