/**
 * Typography
 */

h1,
h2,
h3 {
  margin: 1.414em 0 .5em;
  font-family: $font--secondary;
  font-weight: 200;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.369rem;
}

h2 {
  font-size: 1.777rem;
}

h3 {
  font-size: 1.333rem;
}

p {
  margin-bottom: 1.3rem;
  max-width: rem(520px);
}

em {
  font-style: italic;
}

small {
  font-size: .75rem;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;

  @include transition(all);
}
