<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

    {{> page-title active_home=true }}

    {{> head }}
  </head>
  <body>
    <div class="wrapper">
      {{> browser-upgrade }}

      {{> headers/header-01 }}

      {{> scripts }}
    </div>
  </body>
</html>
