/*---------------------------------*\
  Base
\*---------------------------------*/
html,
body {
  width: 100%;
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
*,
:after,
:before {box-sizing: inherit;}
body {
  font-family: $font--primary;
  font-weight: 400;
  line-height: 1.414;
  color: $color--oil;
  background-color: $color--white;
}
a {
  text-decoration: none;
  @include transition(all);
}
h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
}
h2,
h3,
h4 {margin: 1.414rem 0 0.5rem;}
h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
h2 {font-size: 2.827rem;}
h3 {font-size: 1.999rem;}
h4 {font-size: 1.414rem;}
p {
  margin-bottom: 1.3rem;
  max-width: rem(520px);
}
em {font-style: italic;}
small {font-size: .741rem;}
strong {font-weight: bold;}