/**
 * Options Panel
 */
/* Proper box sizing */
html {
  box-sizing: border-box;
  font-size: 1rem;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* Reseting Styles */
div,
span,
/*h4,
a,*/
section {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* Panel Styles */
.options-panel {
  position: fixed;
  top: 150px;
  z-index: 999;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: block;
  width: 220px;
  height: auto;
  min-height: 150px;
  text-align: left;
  background: #ededed;
  border: 1px solid #ededed;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all .5s ease-in-out;
}
.options-panel .panel-button {
  position: absolute;
  top: 66px;
  right: -107px;
  padding-top: 11px;
  width: 166px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #000;
  border: 1px solid #000;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: background .25s ease-in-out;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.options-panel .panel-button:focus,
.options-panel .panel-button:hover {
  background: #333;
  border: 1px solid #333;
}
.close-panel .panel-button {
  padding-top: 11px;
}
.open-panel .panel-button {
  padding-top: 12px;
}
.close-panel {
  left: -220px;
}
.open-panel {
  left: -1px;
}
.options-panel .area {
  width: 100%;
}
.options-panel .panel__title,
.options-panel a {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1.45;
}
.options-panel .panel__title {
  color: #6f6f6f;
}
.options-panel .area:nth-child(2n+1) .panel__title {
  margin-top: 1rem;
}
.options-panel input,
.options-panel select {
  padding: 6px 10px;
  width: 100%;
  height: 2.375rem;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
}
.options-panel .switch,
.options-panel .theme {
  display: inline-block;
  margin-top: 6px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.options-panel .switch {
  transition: border .25s ease-in-out;
}
.options-panel .switch:focus,
.options-panel .switch:hover {
  border: 1px solid #333;
}

/* Color Options */
.pure-cyan {
  background: #00e676;
}
.emerald {
  background: #40d47e;
}
.turquoise {
  background: #2ecc71;
}
.nephritis {
  background: #27ae60;
}
.green-sea {
  background: #16a085;
}
.pure-green {
  background: #aeea00;
}
.bright-lime {
  background: #cddc39;
}
.lime {
  background: #acd323;
}
.strong-lime {
  background: #afb42b;
}
.peter-river {
  background: #3498db;
}
.belize-hole {
  background: #2980b9;
}
.deep-blue {
  background: #4c7298;
}
.wet-asphalt {
  background: #34495e;
}
.midnight-blue {
  background: #2c3e50;
}
.bright-pink {
  background: #ec407a;
}
.pure-pink {
  background: #f50057;
}
.vivid-pink {
  background: #e91e63;
}
.amethyst {
  background: #9b59b6;
}
.wisteria {
  background: #8e44ad;
}
.pure-violet {
  background: #6200ea;
}
.dark-violet {
  background: #4a148c;
}
.bright-yellow {
  background: #fdd835;
}
.sun-flower {
  background: #f1c40f;
}
.orange {
  background: #f39c12;
}
.carrot {
  background: #e67e22;
}
.pumpkin {
  background: #d35400;
}
.brown {
  background: #795548;
}
.dark-brown {
  background: #3e2723;
}
.red {
  background: #e74c3c;
}
.alizarin {
  background: #e74c3c;
}
.strong-red {
  background: #d50000;
}
.pomegranate {
  background: #c0392b;
}
.silver {
  background: #bdc3c7;
}
.concrete {
  background: #95a5a6;
}
.asbestos {
  background: #7f8c8d;
}
.grey {
  background: #5f7488;
}
.dark-blue-grey {
  background: #37474f;
}

.options-panel .panel-button-cta {
  display: inline-block;
  padding-top: .618rem;
  padding-bottom: .618rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 11.25rem;
  font: 100% / 1.618 "Ubuntu", arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #3498db;
  border: 2px solid #3498db;
  border-radius: 2.1875rem;
  cursor: pointer;
  outline: 0;
  transition: all .25s cubic-bezier(.4, 0, 1, 1);
}

.options-panel .panel-button-cta:focus,
.options-panel .panel-button-cta:hover {
  background: #6cb5e5;
  border-color: #6cb5e5;
}


/* Print */
@media only print {
  .options-panel {
    display: none;
  }
}
