/*---------------------------------*\
  Buttons
\*---------------------------------*/
.btn__container {text-align: center;}
.btn {
  display: inline-block;
  font-family: $font--primary;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: $radius--small;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  @include transition(all);
}
.btn--full {
  padding: .5rem 1rem;
  border: 0;
}
.btn--full--black {
  color: #fff;
  background-color: $color--jet;
  &:focus,
  &:hover {background-color: lighten($color--jet, 12%);}
  &:active {background-color: darken($color--jet, 12%);}
}
.btn--ghost {
  padding: .5rem 2rem;
  background: transparent;
  border: 1px solid;
}
.btn--ghost--black {
  color: $color--jet;
  &:focus,
  &:hover {color: lighten($color--jet, 12%);}
  &:active {color: darken($color--jet, 12%);}
}
.btn--ghost--gold {
  color: palette(yellow);
  &:focus,
  &:hover {color: lighten(palette(yellow), 12%);}
  &:active {color: darken(palette(yellow), 12%);}
}
.btn--ghost--white {
  color: #fff;
  &:focus,
  &:hover {
    color: #000;
    background-color: #fff;
    border: 0;
  }
}