///
// Settings - Global
///
$radius--small: .125rem;// 2px
$radius--big: .25rem;// 4px
$radius--round: 62.5rem;// 1000px
$timing: .25s;

///
// Settings - Typography
///
$font--primary: "Quicksand", "Trebuchet MS", sans-serif;
$font--secondary: "Raleway", arial, verdana, sans-serif;

///
// Settings - Colors
///
$color--primary: $color--flat-pete-river;
$color--secondary: $color--flat-alizarin;
$color--tertiary: $color--flat-clouds;