///
// Main Sass file
///

// Core variables and mixins
@import '_settings/_colors';
@import '_settings/_timing-equations';
@import '_settings/_config';

@import '_tools/_mixins';
@import '_tools/_functions';

/**
 * Table of contents
 *
 * 1. Base
 * 2. Atoms
 * 3. Molecules
 * 4. Organisms
 * 5. Templates
 * 6. Pages
 * 7. Utilities
 */

// Base
@import '_base/_normalize';
@import '_base/_fonts';
@import '_base/_print';
@import '_base/_base';
@import '_base/_typography';

// Atoms
@import '_atoms/_atom-default';

// Molecules
@import '_molecules/_molecule-default';

// Organisms
@import '_organisms/_organism-default';
@import '_organisms/_footer';
@import '_organisms/_header';

// Templates
@import '_templates/_template-default';

// Pages
@import '_pages/_page-default';

// Utilities
@import '_utilities/_utilities';
@import '_utilities/_hacks';
