///
// Settings - Global
///

// Settings - Colors
$color--primary: palette-grabber($palette-flat, blue, pete-river);
$color--secondary: palette-grabber($palette-flat, red, alizarin);
$color--tertiary: palette-grabber($palette-flat, grey, clouds);
$color--link: map-get($palette-foundation, steel);
